In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
train = pd.read_csv("raw/train.csv")

In [13]:
test = pd.read_csv("raw/test.csv")

In [14]:
test.head()

  image_name
0      3.jpg
1      5.jpg
2      6.jpg
3     11.jpg
4     14.jpg

In [15]:
train.head()

  image_name  label
0      0.jpg      0
1      1.jpg      4
2      2.jpg      5
3      4.jpg      0
4      7.jpg      4

0:'buildings',
1:'forest',
2:'glacier',
3:'mountain',
4:'sea',
5:'street'

Splitting up the data into test and train folders.

In [32]:
train_images = train['image_name'].tolist()

In [34]:
train_images[:10]

['0.jpg',
 '1.jpg',
 '2.jpg',
 '4.jpg',
 '7.jpg',
 '8.jpg',
 '9.jpg',
 '10.jpg',
 '12.jpg',
 '13.jpg']

In [27]:
import os
from shutil import copyfile

In [26]:
if not os.path.exists('data'):
    os.mkdir('data')
if not os.path.exists('data/train'):
    os.mkdir('data/train')
if not os.path.exists('data/test'):
    os.mkdir('data/test')

In [39]:
for file in os.listdir('raw/train'):
    if file in train_images:
        copyfile('raw/train/' + file, 'data/train/' + file)
    else:
        copyfile('raw/train/' + file, 'data/test/' + file)